**Initial import & configuration**

In [11]:
pip install pyarrow

Collecting pyarrowNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.3 is available.
You should consider upgrading via the 'c:\Users\Maciek\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

  Downloading pyarrow-13.0.0-cp310-cp310-win_amd64.whl (24.3 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\maciek\appdata\local\programs\python\python310\lib\site-packages (from pyarrow) (1.26.1)
Installing collected packages: pyarrow
Successfully installed pyarrow-13.0.0

In [12]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession
import pyarrow as pa
import pyarrow.parquet as pq

In [13]:
spark = SparkSession.builder\
        .appName("PysparkCustomerSegmentation")\
        .getOrCreate()

**JSON configuration**

In [14]:
config = spark.read.option("multiline","true").json("C:/Users/Maciek/Desktop/pyspark/config_file.json")
config.printSchema()

root
 |-- sources: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- path: string (nullable = true)
 |    |    |-- schema: struct (nullable = true)
 |    |    |    |-- fields: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |    |-- type: string (nullable = true)
 |    |    |-- table_name: string (nullable = true)

In [15]:
source_config = config.withColumn("sources", explode(col("sources"))).select("sources.*")
source_config.show()
source_config = source_config.collect()

+--------------------+--------------------+-----------+
|                path|              schema| table_name|
+--------------------+--------------------+-----------+
|C:/Users/Maciek/D...|{[{CustomerID, in...|DimCustomer|
|C:/Users/Maciek/D...|{[{OrderID, integ...|SalesOnline|
|C:/Users/Maciek/D...|{[{OrderID, integ...|     vSales|
+--------------------+--------------------+-----------+

**Ingest data from csv files with json congifuration**

In [16]:
def load_data():

    for i in range(len(source_config)):

        source = source_config[i]

        df_name = f"df_{source['table_name']}"

        config_schema = source['schema']

        schema = StructType([
            StructField(field['name'], IntegerType() if field['type'] == "integer" else
                                              (StringType() if field['type'] == "string" else
                                              (DateType() if field['type'] == "date" else
                                              (TimestampType() if field['type'] == "timestamp" else
                                              (FloatType() if field['type'] == "float" else
                                              (BooleanType() if field['type'] == "boolean" else StringType()))))),
            True
        )
            for field in config_schema['fields']
        ])

        globals()[df_name] = spark.read.format("csv")\
                                .option("header","true")\
                                .option("delimiter", ';')\
                                .schema(schema)\
                                .csv(source['path'])

In [17]:
load_data()

df_DimCustomer.show()
df_SalesOnline.show()
df_vSales.show()

+----------+----------+----------+----------+------+----+-------------+--------------------+---------------------+---------+-------+
|CustomerID| FirstName|  LastName| BirthDate|Gender|Kids|MartialStatus|     DeliveryAddress|CorrespondenceAddress|StartTime|EndTime|
+----------+----------+----------+----------+------+----+-------------+--------------------+---------------------+---------+-------+
|       151|      Anna|Drzewiecka|1993-03-15|     F|   0|       single|ul. Bohra-Komorow...| ul. Wyścigowa 10,...|     NULL|   NULL|
|       152|       Jan|  Kowalski|1988-07-02|     M|   2|      married|ul. Mickiewicza 1...| ul. Mickiewicza 1...|     NULL|   NULL|
|       153|    Michał| Jankowski|1998-11-10|     M|   0|       single|ul. Piękna 9, 00-...| ul. Piękna 9, 00-...|     NULL|   NULL|
|       154|    Alicja|       Lis|2002-04-20|     F|   1|       single|ul. Górna 15/2, 7...| ul. Górna 15/2, 7...|     NULL|   NULL|
|       155|     Marek| Zieliński|1985-06-30|     M|   0|     divorced|ul. Kwiatowa 3/8,...| ul. Przybyszewski...|     NULL|   NULL|
|       156| Krzysztof| Szymański|1997-01-05|     M|   0|       single|ul. Polna 7/3, 40...| ul. Polna 7/3, 40...|     NULL|   NULL|
|       157|   Natalia|    Wójcik|2000-12-01|     F|   2|      married|ul. Mickiewicza 1...| ul. Kościuszki 5/...|     NULL|   NULL|
|       158|      Adam| Kaczmarek|1996-05-07|     M|   1|      married|ul. Piastowska 5/...| ul. Aleja Grunwal...|     NULL|   NULL|
|       159|Aleksandra|   Nowicka|1998-08-22|     F|   0|       single|ul. Jagiellońska ...| ul. Jagiellońska ...|     NULL|   NULL|
|       160|   Mikołaj|Piotrowski|1994-10-12|     M|   3|      married|ul. Kościuszki 10...| ul. Kościuszki 10...|     NULL|   NULL|
|       161|  Wiktoria| Dąbrowska|1997-11-30|     F|   2|      married|ul. Mickiewicza 7...| ul. Mickiewicza 7...|     NULL|   NULL|
|       162|    Łukasz| Witkowski|2001-01-25|     M|   0|       single|ul. Parkowa 6, 20...| ul. Parkowa 6, 20...|     NULL|   NULL|
|       163|     Kinga| Kowalczyk|1987-04-14|     F|   1|     divorced|ul. Górna 9/5, 90...| ul. Górna 9/5, 90...|     NULL|   NULL|
|       164|     Kamil| Pawłowski|1991-06-08|     M|   0|       single|ul. Długa 12/7, 8...| ul. Długa 12/7, 8...|     NULL|   NULL|
|       165|   Bartosz| Jabłoński|1993-12-19|     M|   0|       single|ul. Wojska Polski...| ul. Wojska Polski...|     NULL|   NULL|
|       166|    Monika|  Krawczyk|1995-02-27|     F|   0|       single|ul. Bohaterów War...| ul. Bohaterów War...|     NULL|   NULL|
|       167|    Damian|     Kowal|1990-08-03|     M|   2|      married|ul. Słoneczna 7/2...| ul. Słoneczna 7/2...|     NULL|   NULL|
|       168|     Paweł| Krajewski|1993-04-15|     M|   1|      married|ul. Mickiewicza 5...| ul. Mickiewicza 5...|     NULL|   NULL|
|       169|  Dominika|   Zawisza|1997-05-21|     F|   0|       single|ul. Leśna 3/9, 60...| ul. Leśna 3/9, 60...|     NULL|   NULL|
|       170|     Artur|    Kaczor|2000-09-11|     M|   0|       single|ul. Piastowska 10...| ul. Piastowska 10...|     NULL|   NULL|
+----------+----------+----------+----------+------+----+-------------+--------------------+---------------------+---------+-------+
only showing top 20 rows

+-------+-------------------+------------+----------+----------+-------+
|OrderID|          OrderDate|DeliveryDate|CustomerID|DeliveryID|Invoice|
+-------+-------------------+------------+----------+----------+-------+
|  10001|2023-06-01 00:00:00|  2023-06-04|       153|         2|      0|
|  10002|2023-06-02 00:00:00|  2023-06-04|       155|         1|      1|
|  10003|2023-06-02 00:00:00|  2023-06-04|       157|         3|      0|
|  10004|2023-06-03 00:00:00|  2023-06-06|      NULL|         2|      1|
|  10005|2023-06-03 00:00:00|  2023-06-06|       159|         1|      0|
|  10006|2023-06-04 00:00:00|  2023-06-05|       161|         2|      1|
|  10007|2023-06-04 00:00:00|  2023-06-06|       163|         3|      0|
|  10008|2023-06-05 00:00:00|  2023-06-07|      NULL|         1|      1|
|  10009|2023-06-05 00:00:00|  2023-06-09|       166|         2|      0|
|  10010|2023-06-06 00:00:00|  2023-06-08|       168|         1|      1|
|  10011|2023-06-06 00:00:00|  2023-06-09|      NULL|         3|      0|
|  10012|2023-06-07 00:00:00|  2023-06-10|      NULL|         3|      1|
|  10013|2023-06-08 00:00:00|  2023-06-11|       170|         2|      0|
|  10014|2023-06-08 00:00:00|  2023-06-12|       172|         1|      1|
|  10015|2023-06-09 00:00:00|  2023-06-12|      NULL|         3|      0|
|  10016|2023-06-10 00:00:00|  2023-06-14|       175|         1|      0|
|  10017|2023-06-10 00:00:00|  2023-06-15|       177|         2|      1|
|  10018|2023-06-11 00:00:00|  2023-06-14|       179|         3|      0|
|  10019|2023-06-11 00:00:00|  2023-06-15|      NULL|         1|      1|
|  10020|2023-06-12 00:00:00|  2023-06-16|       181|         2|      0|
+-------+-------------------+------------+----------+----------+-------+
only showing top 20 rows

+-------+-------------------+------------+--------------------+--------------------+-----------+-------------+-----------+-------------+
|OrderID|          OrderDate|DeliveryDate|     DeliveryAddress|            Customer|SalesAmount|DeliveryPrice|TotalAmount|PositionCount|
+-------+-------------------+------------+--------------------+--------------------+-----------+-------------+-----------+-------------+
|  10001|2023-06-01 00:00:00|  2023-06-04|ul. Piękna 9, 00-...|    Michał Jankowski|     219.97|        14.99|     234.96|            2|
|  10002|2023-06-02 00:00:00|  2023-06-04|ul. Kwiatowa 3/8,...|     Marek Zieliński|     169.99|        14.99|     184.98|            1|
|  10003|2023-06-02 00:00:00|  2023-06-04|ul. Mickiewicza 1...|      Natalia Wójcik|      39.98|        12.99|      52.97|            1|
|  10004|2023-06-03 00:00:00|  2023-06-06|                NULL|purchase without ...|      89.97|        14.99|     104.96|            1|
|  10005|2023-06-03 00:00:00|  2023-06-06|ul. Jagiellońska ...|  Aleksandra Nowicka|      73.97|        14.99|      88.96|            3|
|  10006|2023-06-04 00:00:00|  2023-06-05|ul. Mickiewicza 7...|  Wiktoria Dąbrowska|     211.97|        14.99|     226.96|            2|
|  10007|2023-06-04 00:00:00|  2023-06-06|ul. Górna 9/5, 90...|     Kinga Kowalczyk|      35.99|        12.99|      48.98|            1|
|  10008|2023-06-05 00:00:00|  2023-06-07|                NULL|purchase without ...|     219.97|        14.99|     234.96|            2|
|  10009|2023-06-05 00:00:00|  2023-06-09|ul. Bohaterów War...|     Monika Krawczyk|     169.99|        14.99|     184.98|            1|
|  10010|2023-06-06 00:00:00|  2023-06-08|ul. Mickiewicza 5...|     Paweł Krajewski|      18.99|        14.99|      33.98|            1|
|  10011|2023-06-06 00:00:00|  2023-06-09|                NULL|purchase without ...|      59.98|        12.99|      72.97|            1|
|  10012|2023-06-07 00:00:00|  2023-06-10|                NULL|purchase without ...|      73.97|        12.99|      86.96|            3|
|  10013|2023-06-08 00:00:00|  2023-06-11|ul. Piastowska 10...|        Artur Kaczor|     344.96|        14.99|     359.95|            2|
|  10014|2023-06-08 00:00:00|  2023-06-12|ul. Długa 8/12, 8...|    Łukasz Zieliński|      43.98|        14.99|      58.97|            1|
|  10015|2023-06-09 00:00:00|  2023-06-12|                NULL|purchase without ...|     475.95|        12.99|     488.94|            2|
|  10016|2023-06-10 00:00:00|  2023-06-14|ul. Leśna 12/8, 6...|    Marcin Witkowski|     299.99|        14.99|     314.98|            1|
|  10017|2023-06-10 00:00:00|  2023-06-15|ul. Sienkiewicza ...|      Anna Szymańska|      90.97|        14.99|     105.96|            2|
|  10018|2023-06-11 00:00:00|  2023-06-14|ul. Górna 6, 90-3...|   Monika Piotrowska|     279.97|        12.99|     292.96|            2|
|  10019|2023-06-11 00:00:00|  2023-06-15|                NULL|purchase without ...|      33.99|        14.99|      48.98|            1|
|  10020|2023-06-12 00:00:00|  2023-06-16|ul. Słoneczna 3/7...|         Dominik Lis|     363.97|        14.99|     378.96|            2|
+-------+-------------------+------------+--------------------+--------------------+-----------+-------------+-----------+-------------+
only showing top 20 rows

**Data tranform & aggregations for customer segmentation**

In [18]:
df_vSales = df_vSales.drop(col("OrderDate"))
df = df_SalesOnline.join(df_vSales, on="OrderID", how="left")
df = df.filter(col("Customer") != 'purchase without registration')
df = df.groupby("CustomerID").agg(\
                                    round(sum(col("SalesAmount")),2).alias("TotalSpends"),\
                                    sum(col("PositionCount")).alias("PurchasedItems"),\
                                    count(col("OrderID")).alias("OrdersCount"),\
                                    min(col("OrderDate")).alias("FirstOrder"),\
                                    max(col("OrderDate")).alias("LastOrder")
                                    )
df = df\
        .withColumn("AverageBasketSize", round(df.PurchasedItems/df.OrdersCount,2))\
        .withColumn("AverageBasketValue", round(df.TotalSpends/df.OrdersCount,2))
df.show()

+----------+-----------+--------------+-----------+--------------------+--------------------+-----------------+------------------+
|CustomerID|TotalSpends|PurchasedItems|OrdersCount|          FirstOrder|           LastOrder|AverageBasketSize|AverageBasketValue|
+----------+-----------+--------------+-----------+--------------------+--------------------+-----------------+------------------+
|       155|     617.93|             6|          5| 2023-06-02 00:00:00| 2023-09-15 00:00:00|              1.2|            123.59|
|       183|     837.33|             5|          4| 2023-06-12 00:00:00| 2023-10-06 00:00:00|             1.25|            209.33|
|       159|     199.89|             9|          5| 2023-06-03 00:00:00| 2023-09-18 00:00:00|              1.8|             39.98|
|       157|      865.1|             9|          5| 2023-06-02 00:00:00| 2023-09-16 00:00:00|              1.8|            173.02|
|       190|     390.97|             2|          1|2023-10-14 19:04:...|2023-10-14 19:04:...|              2.0|            390.97|
|       177|     494.01|             9|          6| 2023-06-10 00:00:00| 2023-10-01 00:00:00|              1.5|             82.34|
|       152|     582.92|             6|          5| 2023-06-15 00:00:00| 2023-09-12 00:00:00|              1.2|            116.58|
|       185|     131.92|             5|          3| 2023-07-12 00:00:00| 2023-10-07 00:00:00|             1.67|             43.97|
|       182|     790.51|             5|          4| 2023-06-25 00:00:00| 2023-10-05 00:00:00|             1.25|            197.63|
|       168|    1018.34|             7|          5| 2023-06-06 00:00:00| 2023-09-24 00:00:00|              1.4|            203.67|
|       178|     807.37|             9|          5| 2023-06-24 00:00:00| 2023-10-02 00:00:00|              1.8|            161.47|
|       164|     288.53|             6|          5| 2023-06-19 00:00:00| 2023-09-21 00:00:00|              1.2|             57.71|
|       169|     815.16|             6|          3| 2023-07-06 00:00:00| 2023-09-25 00:00:00|              2.0|            271.72|
|       163|     884.92|             8|          5| 2023-06-04 00:00:00| 2023-09-21 00:00:00|              1.6|            176.98|
|       154|     971.91|             8|          5| 2023-06-16 00:00:00| 2023-09-14 00:00:00|              1.6|            194.38|
|       165|     611.32|             7|          4| 2023-07-05 00:00:00| 2023-09-22 00:00:00|             1.75|            152.83|
|       179|     647.74|             8|          5| 2023-06-11 00:00:00| 2023-10-03 00:00:00|              1.6|            129.55|
|       175|     925.18|             7|          5| 2023-06-10 00:00:00| 2023-09-30 00:00:00|              1.4|            185.04|
|       173|     172.05|             4|          3| 2023-07-08 00:00:00| 2023-09-28 00:00:00|             1.33|             57.35|
|       161|     705.31|             8|          5| 2023-06-04 00:00:00| 2023-09-19 00:00:00|              1.6|            141.06|
+----------+-----------+--------------+-----------+--------------------+--------------------+-----------------+------------------+
only showing top 20 rows

In [19]:
df_DimCustomer = df_DimCustomer.drop("DeliveryAddress")

df_DimCustomer = \
    df_DimCustomer.withColumn("City", substring_index("CorrespondenceAddress"," ",-1))\
                    .withColumn("Age", round(datediff(current_date(),'BirthDate')/365.25,0))\
                    .withColumn("AgeSexSegment", when((col("Gender")=="M") & (col("Age")<26), "M18")\
                                                .when((col("Gender")=="M") & (col("Age")<35), "M26")\
                                                .when((col("Gender")=="M") & (col("Age")<50), "M35")\
                                                .when((col("Gender")=="M") & (col("Age")>50), "M50")\
                                                .when((col("Gender")=="F") & (col("Age")<26), "F18")\
                                                .when((col("Gender")=="F") & (col("Age")<35), "F26")\
                                                .when((col("Gender")=="F") & (col("Age")<50), "F35")\
                                                .when((col("Gender")=="F") & (col("Age")>50), "F50"))\
                    .withColumn("FamilySegment", when((col("Gender")=="M") & (col("MartialStatus")=="married") & (col("Kids")>0), "head of the family")\
                                                .when((col("Gender")=="M") & (col("MartialStatus")=="married") & (col("Kids")==0), "husband")\
                                                .when((col("Gender")=="M") & (col("MartialStatus")!="married") & (col("Kids")>0),"father")\
                                                .when((col("Gender")=="M") & (col("MartialStatus")!="married"),"single")\
                                                .when((col("Gender")=="F") & (col("MartialStatus")=="married") & (col("Kids")>0),"mother&wife")\
                                                .when((col("Gender")=="F") & (col("MartialStatus")=="married") & (col("Kids")==0),"wife")\
                                                .when((col("Gender")=="F") & (col("MartialStatus")!="married") & (col("Kids")>0),"single mother")\
                                                .when((col("Gender")=="F") & (col("MartialStatus")!="married"), "single"))\
                    .withColumn("DemographicSegment",when(col("City").isin(["Warszawa", "Kraków", "Poznań", "Wrocław", "Łódź", "Gdańsk"]), "big city")\
                                                .when(col("City").isin(["Katowice", "Szczecin", "Bydgoszcz", "Częstochowa", "Lublin", "Białystok"]), "city")\
                                                .otherwise("small town/village"))

df = df_DimCustomer.join(df, on="CustomerID", how="inner")

df.show()

+----------+----------+------------+----------+------+----+-------------+---------------------+---------+-------+---------+----+-------------+------------------+------------------+-----------+--------------+-----------+--------------------+--------------------+-----------------+------------------+
|CustomerID| FirstName|    LastName| BirthDate|Gender|Kids|MartialStatus|CorrespondenceAddress|StartTime|EndTime|     City| Age|AgeSexSegment|     FamilySegment|DemographicSegment|TotalSpends|PurchasedItems|OrdersCount|          FirstOrder|           LastOrder|AverageBasketSize|AverageBasketValue|
+----------+----------+------------+----------+------+----+-------------+---------------------+---------+-------+---------+----+-------------+------------------+------------------+-----------+--------------+-----------+--------------------+--------------------+-----------------+------------------+
|       155|     Marek|   Zieliński|1985-06-30|     M|   0|     divorced| ul. Przybyszewski...|     NULL|   NULL|Pabianice|38.0|          M35|            single|small town/village|     617.93|             6|          5| 2023-06-02 00:00:00| 2023-09-15 00:00:00|              1.2|            123.59|
|       183|   Mariusz|   Pawłowski|1990-11-27|     M|   0|       single| ul. Mickiewicza 6...|     NULL|   NULL|   Kraków|33.0|          M26|            single|          big city|     837.33|             5|          4| 2023-06-12 00:00:00| 2023-10-06 00:00:00|             1.25|            209.33|
|       159|Aleksandra|     Nowicka|1998-08-22|     F|   0|       single| ul. Jagiellońska ...|     NULL|   NULL|   Kraków|25.0|          F18|            single|          big city|     199.89|             9|          5| 2023-06-03 00:00:00| 2023-09-18 00:00:00|              1.8|             39.98|
|       157|   Natalia|      Wójcik|2000-12-01|     F|   2|      married| ul. Kościuszki 5/...|     NULL|   NULL|Myślenice|23.0|          F18|       mother&wife|small town/village|      865.1|             9|          5| 2023-06-02 00:00:00| 2023-09-16 00:00:00|              1.8|            173.02|
|       190|    Maciej|Gruszczyński|1995-11-10|     M|   0|       single| Poziomkowa 1, 61-...|     NULL|   NULL|   Poznań|28.0|          M26|            single|          big city|     390.97|             2|          1|2023-10-14 19:04:...|2023-10-14 19:04:...|              2.0|            390.97|
|       177|      Anna|   Szymańska|1994-06-15|     F|   1|      married| ul. Sienkiewicza ...|     NULL|   NULL|   Lublin|29.0|          F26|       mother&wife|              city|     494.01|             9|          6| 2023-06-10 00:00:00| 2023-10-01 00:00:00|              1.5|             82.34|
|       152|       Jan|    Kowalski|1988-07-02|     M|   2|      married| ul. Mickiewicza 1...|     NULL|   NULL|   Kraków|35.0|          M35|head of the family|          big city|     582.92|             6|          5| 2023-06-15 00:00:00| 2023-09-12 00:00:00|              1.2|            116.58|
|       185|   Natalia|      Wójcik|1998-06-21|     F|   1|      married| ul. Mickiewicza 1...|     NULL|   NULL|   Lublin|25.0|          F18|       mother&wife|              city|     131.92|             5|          3| 2023-07-12 00:00:00| 2023-10-07 00:00:00|             1.67|             43.97|
|       182|  Karolina|     Nowicka|1995-09-12|     F|   1|      married| ul. Wrocławska 14...|     NULL|   NULL|  Wrocław|28.0|          F26|       mother&wife|          big city|     790.51|             5|          4| 2023-06-25 00:00:00| 2023-10-05 00:00:00|             1.25|            197.63|
|       168|     Paweł|   Krajewski|1993-04-15|     M|   1|      married| ul. Mickiewicza 5...|     NULL|   NULL|   Kraków|31.0|          M26|head of the family|          big city|    1018.34|             7|          5| 2023-06-06 00:00:00| 2023-09-24 00:00:00|              1.4|            203.67|
|       178|     Paweł|   Kowalczyk|1997-09-20|     M|   0|       single| ul. Wojska Polski...|     NULL|   NULL|  Wrocław|26.0|          M26|            single|          big city|     807.37|             9|          5| 2023-06-24 00:00:00| 2023-10-02 00:00:00|              1.8|            161.47|
|       164|     Kamil|   Pawłowski|1991-06-08|     M|   0|       single| ul. Długa 12/7, 8...|     NULL|   NULL|   Gdańsk|32.0|          M26|            single|          big city|     288.53|             6|          5| 2023-06-19 00:00:00| 2023-09-21 00:00:00|              1.2|             57.71|
|       169|  Dominika|     Zawisza|1997-05-21|     F|   0|       single| ul. Leśna 3/9, 60...|     NULL|   NULL|   Poznań|26.0|          F26|            single|          big city|     815.16|             6|          3| 2023-07-06 00:00:00| 2023-09-25 00:00:00|              2.0|            271.72|
|       163|     Kinga|   Kowalczyk|1987-04-14|     F|   1|     divorced| ul. Górna 9/5, 90...|     NULL|   NULL|     Łódź|37.0|          F35|     single mother|          big city|     884.92|             8|          5| 2023-06-04 00:00:00| 2023-09-21 00:00:00|              1.6|            176.98|
|       154|    Alicja|         Lis|2002-04-20|     F|   1|       single| ul. Górna 15/2, 7...|     NULL|   NULL| Szczecin|21.0|          F18|     single mother|              city|     971.91|             8|          5| 2023-06-16 00:00:00| 2023-09-14 00:00:00|              1.6|            194.38|
|       165|   Bartosz|   Jabłoński|1993-12-19|     M|   0|       single| ul. Wojska Polski...|     NULL|   NULL|  Wrocław|30.0|          M26|            single|          big city|     611.32|             7|          4| 2023-07-05 00:00:00| 2023-09-22 00:00:00|             1.75|            152.83|
|       179|    Monika|  Piotrowska|1988-12-25|     F|   2|      married| ul. Górna 6, 90-3...|     NULL|   NULL|     Łódź|35.0|          F35|       mother&wife|          big city|     647.74|             8|          5| 2023-06-11 00:00:00| 2023-10-03 00:00:00|              1.6|            129.55|
|       175|    Marcin|   Witkowski|1996-11-22|     M|   0|       single| ul. Leśna 12/8, 6...|     NULL|   NULL|   Poznań|27.0|          M26|            single|          big city|     925.18|             7|          5| 2023-06-10 00:00:00| 2023-09-30 00:00:00|              1.4|            185.04|
|       173|  Grzegorz|  Nowakowski|1987-07-14|     M|   0|       single| ul. Piastowska 7,...|     NULL|   NULL|   Gdańsk|36.0|          M35|            single|          big city|     172.05|             4|          3| 2023-07-08 00:00:00| 2023-09-28 00:00:00|             1.33|             57.35|
|       161|  Wiktoria|   Dąbrowska|1997-11-30|     F|   2|      married| ul. Mickiewicza 7...|     NULL|   NULL| Katowice|26.0|          F26|       mother&wife|              city|     705.31|             8|          5| 2023-06-04 00:00:00| 2023-09-19 00:00:00|              1.6|            141.06|
+----------+----------+------------+----------+------+----+-------------+---------------------+---------+-------+---------+----+-------------+------------------+------------------+-----------+--------------+-----------+--------------------+--------------------+-----------------+------------------+
only showing top 20 rows

**Save results to parquet file**

In [21]:
pandas_df = df.toPandas()
table = pa.Table.from_pandas(pandas_df)
pq.write_table(table, "C:/Users/Maciek/Desktop/pyspark/result/customer_segmentation.parquet")

#df.write.mode("overwrite").csv("C:/Users/Maciek/Desktop/pyspark/result/", header=True)

c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):
c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):
c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):
c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
c:\Users\Maciek\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\pandas\types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):